---
interface Props {
  brandName: string;
}

const { brandName } = Astro.props;
---

<footer
  class="bg-[#1B1B1B] py-10 md:flex text-center justify-around items-center"
>
  <div class="">
    <h1 class="text-4xl font-bold">{brandName}</h1>
  </div>

  <div class="font-light">
    <a href="/miguelgomez
">Inicio</a>
    <a href="/miguelgomez
/contact">Contacto</a>
    <a href="/miguelgomez
/project">Proyecto</a>
    <a href="/miguelgomez
/team">Equipo</a>
  </div>
</footer>
